ul, li {
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 20px;
}

.column {
  $gutter: 10px;

  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin-left: -$gutter;

  + .column {
    margin-top: $gutter;
  }
  
  > .col {
    flex: 0 0 auto;
    margin-top: $gutter;
    margin-left: $gutter;
    background: #ccc; // 表示確認用
    height: 300px; // 表示確認用
  }

  &.column-1 {
    > .col {
      width: calc( 100% - #{$gutter} );

      &:first-child {
        margin-top: 0;
      }
    }
  }
  
  &.column-2 {
    > .col {
      width: calc( (100% - #{$gutter} * 2) / 2);

      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }
  }
  
  &.column-3 {
    > .col {
      width: calc( (100% - #{$gutter} * 3) / 3);

      &:nth-child(-n + 3) {
        margin-top: 0;
      }
    }
  }
}